{% extends 'base.html' %}

{% block title %} Acerca {% endblock %}

{% block contenido %}
{% load static %}

<section class="about">
    <div class="container">
        <div class="about-content hero-text"> <!-- Agregado "hero-text" como clase -->
            <h1>Acerca de Nosotros</h1>
            <p>Bienvenido a nuestra plataforma de colaboración. 
                Aquí puedes encontrar proyectos increíbles y personas talentosas dispuestas a ayudarte.</p>
        </div>
    </div>
<div>
    
</div>
</section>
{% endblock %}
